<div id="container">
<form name="form" novalidate>
  <table>
    <tr>
      <td>Nombre:</td>
      <td><input type="text" name="nombreForm" [(ngModel)]="nombre" class="form-control" #nombreForm="ngModel" required/>
          <div style = "color:red" *ngIf= "nombreForm.invalid && (nombreForm.dirty || nombreForm.touched)">
               <div *ngIf="nombreForm.errors.required">
                 Se requiere el nombre.
               </div>
         </div>
      </td>
    </tr>
    <tr>
      <td>Edad:</td>
      <td><input type="number" name="edadForm" [(ngModel)]="edad" min="0" max="99" class="form-control" #edadForm="ngModel" required/>
       <div style = "color:red" *ngIf = "edadForm.invalid && edadForm.dirty">
          <div *ngIf="edadForm.errors.required">
            La edad es requerida.
          </div>
       </div>
      </td>
    </tr>
    <tr>
      <td>Correo:</td>
      <td><input type="email" name="correoForm" [(ngModel)]="correo" class="form-control" #correoForm="ngModel" required/>
              <div style = "color:red" *ngIf="correoForm.invalid && (correoForm.dirty || correoForm.touched)">
                <div *ngIf="correoForm.errors.required">
                  El correo es requerido.
                </div>
              </div>
      </td>
    </tr>
  </table>
 <button  (click)="registrar()" class="btn btn-primary">Registrar</button>
</form>
</div>